 .btn-black{
    background-color: black;
 }
 .btn-red{
    background-color: rgb(212, 20, 20);
 }
 .btn-yellow{
    background-color: rgb(248, 244, 16);
 }
 body{
   margin:10px;
   padding:10px;
   background-color: rgb(217, 242, 208);
  
   color: rgb(206, 230, 197);

}

